player-connection-mode=Listen
player-connection-guid=3128283725
player-connection-debug=0
player-connection-project-name=Photon Game
player-connection-ip=192.168.0.109
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=8bea20cdd7c94169b427197a12331d0f
